{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'robots/css/main.css' %}" />

<h1>Robots</h1>
<a href="{% url 'robots:add' %}">(add new bot)</a>
<ul>
{% for bot in object_list %}
    <li><a href="{{ bot.get_absolute_url }}">{{ bot.name }} ({{ bot.elo_score }})</a></li>
{% empty %}
    <li>No bots yet.</li>
{% endfor %}
</ul>

<form action="{% url 'robots:run_tournament' %}" method="POST">
	{% csrf_token %}
	<input type="submit" value="Run tournament"/>
</form>

<form action="{% url 'robots:reset_scores' %}" method="POST">
	{% csrf_token %}
	<input type="submit" value="Reset"/>
</form>

