{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'robots/css/main.css' %}" />

<h2>{{ object.name }}</h2>
<div><strong>owner</strong> {{ object.owner }}</div>
<div><strong>Elo rating</strong> {{ object.elo_score }}</div>
<a href="update">(update)</a>
<a href="delete">(delete)</a>
<form action="{% url 'robots:challenge' object.id %}" method="POST">
	{% csrf_token %}
	<label for="opponent">Challenge opponent</label>
	<select id="opponent" name="opponent">
		{% for bot in all_bots %}
		<option value="{{ bot.id }}">{{ bot.name }}</option>
		{% endfor %}
	</select>
	<input type="submit" value="Fight!"/>
</form>
<div><a href="{% url 'robots:index' %}">Back to Bot index</a></div>
<h3>Matches played</h3>
<ul>
{% for match in match_history %}
	<li><a href="{% url 'robots:match' match.id %}" class="{% if match.get_winner == object %}win{% elif match.get_winner %}loss{% endif %}">{{ match.challenger.name }} vs {{ match.defender.name }}: {{ match.challenger_score }} - {{ match.defender_score }}</a></li>
{% endfor %}
</ul>

<div><a href="{% url 'robots:index' %}">Back to Bot index</a></div>